/** Heading part logo and cart **/
.header .logo img {
    max-width: 300px;
    width:auto;
    height: auto;
    background-color: #000;
}
.header .header-border
{
    background-color: #000;
    color:#fff;
}

.header-info span {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.header .links li a {
    display: inline-block;
    color: #ffffff;
}
.header .links li a:hover {
    display: inline-block;
    color: #38b54b;
}
.header-container
{
    background: #000;
    color:#fff;
}

.header .form-search button.button > span {
    width: 51px;
    height: 51px;
    color: #fff;
    background: #38b54b;
}
.header .form-search button.button:hover > span:after
{
    background: #1f842f;
}

.block-cart-header .summary
{
    padding: 0;
    color:#fff;
    position: relative;
    display: block;
    float: none;
    font-size: 20px;
    font-weight:normal;
    text-align: center;
}
.block-cart-header
{
    cursor: none;
    padding-top: 5px;
    background: none;
    height: 30px;
    width:auto;

}
.block-cart-header .block-content
{
    cursor: pointer;
}
.block-cart-header .block-content span.product-count
{
    position: absolute;
    top: -8px;
    background: #38b54b;
    right: -12px;
    font-size: 15px;
    border-radius: 3px;
    width: 15px;
}
.block-cart-header .cart-content{
    box-shadow: 0 0px 13px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0px 13px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0px 13px rgba(0,0,0,0.15);
    position:absolute;
    right:0;
    top: 27px;
    z-index:9;
    min-width:320px;
    width: 100%;
    display:none;
    cursor:default;
}
@media only screen and (min-width: 768px) {
    .block-cart-header {
        position: relative;
        float: right;
        padding-top: 5px;
        background: none;

    }
    .block-cart-header:before {
        display: none;
    }

    .block-cart-header .block-content {text-align: left;}
    .block-cart-header:hover,
    .block-cart-header.active {
    }

}
.block-cart-header .empty .cart-content {
    background: #fff;
    padding: 10px;
    max-width: 320px;
    color:#000;
}
.header-info i {
    color: #fff;
    font-size: 24px;
    float: left;
    display: block;
    margin-right: 10px;
}


.header .form-search .input-text
{
    width: 230px;
}
@media only screen and (max-width: 767px){
    .header .form-search .input-text {
        width:100%;
        margin:0;
        moz-box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: none;
        padding-right: 50px;
    }
}


/** Mega menu **/
.grid-full > li > a:before
{
    background: none;
}

.grid-full .grid-full-home-link:hover a,
.ps-static .grid-full .level.over > a,
.grid-full .level.active > a {
    color: #38b54b;
}
.grid-full .level1 .catagory-level1 {
    font-size: 17px;
    color: #38b54b;
    margin-bottom: 12px;
    font-weight: normal;
}

.grid-full .catagory_children .catagory_children li.level2:hover > a,
.grid-full .catagory_children .catagory_children li.level2.active > a {
    color: #fff;
    background: #38b54b;
    position: relative;
    text-decoration: none !important;
    width: 100%;
    z-index: 999999999;
}
.grid-full .catagory_children.column1 li.level3 a:hover,
.grid-full .catagory_children.column1 li.level3.active a {
    background: #38b54b;
    color: #fff;
}
.nav .grid-full > li.parent > a > span:after {
    content: "\f107";
    display: inline-block;
    font-size: 15px;
    color: #38b54b;
    border-radius: 20px;
    line-height: 20px;
    vertical-align: middle;
    position: absolute;
    right: 0px;
    top: 40%;
}
.nav-container, .nav-container-mobile {
    position: relative;
    z-index: 4;
    width: 100%;
    background: #fff;
    border-bottom: 7px solid #38b54b;
}
@media only screen and (max-width: 991px) {
    .nav-container {display: none;}
    .nav-container-mobile {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
    }
}

.grid-full > li > .level-top
{
    background: #000000;
}


/** banner template ***/
.camera_prev, .camera_next {
    text-align: center;
    margin-top: 0;
    height: 37px;
    width: 37px;
    top: 50%;
    background: none;
    color: #fff;
    left: auto;
    background: #38b54b;
}

.camera_caption .camera-link {
    font-size: 25px;
    line-height: 70px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    padding: 0 30px;
    background: #38b54b;
}
.lof_camera_title1 {
    color: #38b54b;
    position: relative;
    margin-bottom: 39px;
}

/** scroll top button **/

#back-top span {
    display: block;
    text-align: center;
    color: #3E3B3D;
    background: #38b54b;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    height: 100%;
    padding: 10px 0;
}

/** New Product / Featured Product template **/
.img-hover:after{
    background: #38b54b;
}
.homeIndent .carousel-prev, .homeIndent .carousel-prev2, .homeIndent .carousel-prev3, .homeIndent .carousel-next, .homeIndent .carousel-next2, .homeIndent .carousel-next3 {
    top: 0;
    right: 0;
    position: relative;
    background: #38b54b;
    color: #fff;
    width: 37px;
    height: 37px;
    font-size: 14px;
    text-align: center;
    line-height: 37px;
    float: left;
    margin-left: 3px;
}
.col-main .regular-price .price,
.col-main .price-box.map-info .old-price .price,
#tabquickshowcontainer .regular-price .price {font-size: 22px; color: #38b54b; line-height: 22px;}

.products-grid .product-name a:hover, .products-list .product-name a:hover {
    color: #38b54b;
}
.page-title, .category-title {
    margin: 0 0 40px;
    border-bottom: 7px solid #38b54b;
    padding-bottom: 10px;
}

/** Video Banner **/

button.btn-row > span {
    font-size: 25px;
    background: #38b54b;
}
.desc-row {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 28px;
    color: #38b54b;
    text-transform: uppercase;
}

button.btn-row > span:after {
    background: #000;
}

.box-1 {
    position: relative;
    left:0;
    padding: 12% 0 17%;
    margin-bottom: 60px;
    z-index: 0;
    background: none;
    background-size: cover;
}
.box-1  video{
    width:100%;
}


/** footer template **/
.footer-container
{
    background: #000;
    color: #fff;
}
.footer ul li a {
    display: inline;
    color: #fff;
    text-decoration: none;
}
.footer ul li a:hover {
    color: #38b54b;
}

.footer h4, .footer .block-title strong {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #38b54b;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.footer .footer-col .tel {
    display: block;
    font-size: 26px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;
    margin: 15px 0;
    font-weight: bold;
}